html, body {
	position: relative;
	
	padding: 0px;
	margin: 0px;

	height: 100%;
	width: 100%;

	vertical-align: middle;
}

.slider {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

.slider.ng-hide {
	opacity: 0;
}


