<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html id="slider_wrap" ng-app="slider" ng-controller="sliderController as sctrl" ng-model="sctrl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title ng-if="0 > currentIndex">Slider</title>
	<title ng-if="0 <= currentIndex">Slider - #{{currentIndex}}</title>

	<link rel="stylesheet" href="vendor/css/bootstrap.css">
	<link rel="stylesheet" href="css/slider.css" />

	<script src="js/lib.js"></script>
	<script src="vendor/js/jquery.min.js"></script>
	<script src="vendor/js/bootstrap.min.js"></script>
	<script src="vendor/js/angular.js"></script>
	<script src="vendor/js/angular-animate.min.js"></script>
</head>
<body>
	
	<div id="slider" style="background-image: url('{{currentImage}}');"></div>
		
	<!--<img ng-if="0 <= currentIndex" class="current slide" src="{{currentImage}}" alt="{{currentImage}}" />

	<!-- after everything loaded -->
	<script src="js/slider.js"></script>

</body>
</html>